In [78]:
#prime number printing
for i in range(2,100):
    c=0
    for j in range(2,(i//2)+1):
        if i%j==0:
            c=c+1
            break
    if (c==0):
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [11]:
s1=input("enter name: ")
s2=("Good afternoon,")
print(s2+s1)

enter name: Rahul
Good afternoon,Rahul

In [12]:
letter= '''Dear NAME
        You are slected
        on DATE'''
n=input("Enter your name: ")
d=input("Enter date: ")
letter.replace("NAME",n)
letter.replace("DATE",d)
#This does not replaces the values to replace that we need to convert letter=letter.replace()

Enter your name: Rahul
Enter date: 5 Nov

'Dear NAME\n        You are slected\n        on DATE'

In [15]:
letter= '''Dear NAME
        You are slected
        on DATE'''
n=input("Enter your name: ")
d=input("Enter date: ")
letter=letter.replace("NAME",n)
letter=letter.replace("DATE",d)
print(letter)

Enter your name: Rahul
Enter date: 5 Nov
Dear Rahul
        You are slected
        on 5 Nov

In [16]:
#program to find double spaces in a string
s="Hi,this is  Rahul"
k=s.find("  ")
print(k)
#output will be starting index of double space

10

In [17]:
#To replce double spaces with single space
s=("Hi,this is  Rahul")
s=s.replace("  "," ")
print(s)

Hi,this is Rahul

In [19]:
#to print a formatted letter
s=("Hi Rahul Nice to meet you")
f=("Hi Rahul\n\t Nice to meet you") #\n prints it in other line and \t prints it after a tab space
print(s)
print(f)

Hi Rahul Nice to meet you
Hi Rahul
	 Nice to meet you

In [21]:
#to create list of  fruits entered by user
F1=input()
F2=input()
mfl=[F1,F2] #[] represents that it is a list and list is mutable,i.e we can update values in a list
print(mfl)

orange
mango
['orange', 'mango']

In [30]:
#list to accept marks of students and display it in a sorted manner
F1=input()
F2=input()
F3=input()
F4=input()
F5=input()
F6=input()
v=[F1,F2,F3,F4,F5,F6]
print(v)
v.sort()
print(v)

2
3
4
5
1
2
['2', '3', '4', '5', '1', '2']
['1', '2', '2', '3', '4', '5']
None

In [24]:
#to check if value of a tuple is mutable or not
a=(1,2,3,4,5,6) #() represents tuple
a[2]=5
print(a)

TypeError: 'tuple' object does not support item assignment

In [26]:
#program to sum a list
a=[1,2,3,4]
a=sum(a) # sum() is inbuilt function
print(a)

10

In [29]:
#program to count number of zeros in a given tuple
a=(1,2,0,3,0,6,2,4,0)
print(a.count(0))

3

In [34]:
a=[1,2,3,4,5,6]
a.append(10) #append adds elements at the end of list
print(a)
a.insert(2,15) # insert position adds 15 at position 2 in list
print(a)

[1, 2, 3, 4, 5, 6, 10]
[1, 2, 15, 3, 4, 5, 6, 10]

In [36]:
print("Dictionary in python")

Dictionary in python

In [47]:
myDict={
    "tomato":"potato",
    "man":"fan",
    "lake":"bake",
    "Marks":[1,2,5]
}
print(myDict['man'])  #corresponding to man value in myDixt
print(myDict['lake'])
print(myDict['Marks'])
myDict['Marks']=[1,3,4]  #dictionary is mutable and is unordered
print(myDict['Marks'])
print(myDict.keys())
print(list(myDict.keys())) #prints the keys of myDict and stores them in a list
print(myDict.values())
print(myDict.items())

fan
bake
[1, 2, 5]
[1, 3, 4]
dict_keys(['tomato', 'man', 'lake', 'Marks'])
['tomato', 'man', 'lake', 'Marks']
dict_values(['potato', 'fan', 'bake', [1, 3, 4]])
dict_items([('tomato', 'potato'), ('man', 'fan'), ('lake', 'bake'), ('Marks', [1, 3, 4])])

In [48]:
Dict={
    "hey":"They"
}
myDict.update(Dict) #updates the value in the dictionary
print(myDict)

{'tomato': 'potato', 'man': 'fan', 'lake': 'bake', 'Marks': [1, 3, 4], 'hey': 'They'}

In [49]:
print("Sets in Python")

Sets in Python

In [52]:
a={1,3,4,5}
print(type(a))
a={1,3,4,5,1}
print(a) #set does not prints repetitive elements
b={} #creates empty dictionary and not empty set
print(type(b))

<class 'set'>
{1, 3, 4, 5}
<class 'dict'>

In [56]:
b=set() #creates empty set
b.add(4)
b.add(6)
b.add(7)
b.add(5) #adding elements more than once does not chnage the set
print(b)
b.add((4,5,6)) #we can add tuple in set but not lists and dictionary
print(b)  #sts are unordered

{4, 5, 6, 7}
{4, 5, 6, 7, (4, 5, 6)}

In [64]:
b={4,5,6,7}
b.remove(5)
print(b)
b.pop()
print(b)

{4, 6, 7}
{6, 7}

In [65]:
print("Practice set of sets and dictionary")

Practice set of sets and dictionary

In [69]:

myDict={
    "pankha":"fan",
    "ghar":"home",
    "jagah":"place"
}
print("Options are: ",myDict.keys())  #gives user the available options of words
a=input("ENter the hindi word: ") #takes input from user
print("The meaning of ur word is: ",myDict.get(a)) #gives translation of the word
#.get does not throws errror when element is not present

Options are:  dict_keys(['pankha', 'ghar', 'jagah'])
ENter the hindi word: ghar
The meaning of ur word is:  home

In [71]:
#input 4 no from users and print unique numbers
a=int(input())
b=int(input())
c=int(input())
d=int(input())
k={a,b,c,d} #creates set and set does not print repetitive elements
print(k)

1
2
2
3
{1, 2, 3}

In [72]:
# to check whether a set can have int 32 and str 32 as values
a={32,"32"}
print(a) #gives output,hence possible

{32, '32'}

In [74]:
s=set() #creates empty set
s.add(20)
s.add(20.0)
s.add("20")
print(s)
print(len(s))

{'20', 20}
2

In [75]:
#dictionary to get fav fruit of 4 friends having unique names
k={} #creates empty dictionary
a=input("Enter Shubham")
b=input("Enter Raj")
c=input("Enter Rahul")
d=input("Enter Harry")
k['Shubham']=a
k['Raj']=b
k['rahul']=c
k['Harry']=d
print(k)

Enter Shubham1
Enter Raj2
Enter Rahul3
Enter Harry4
{'Shubham': '1', 'Raj': '2', 'rahul': '3', 'Harry': '4'}

In [76]:
#same question but names of two friends are same
k={} #creates empty dictionary
a=input("Enter Shubham")
b=input("Enter Raj")
c=input("Enter Raj")
d=input("Enter Harry")
k['Shubham']=a
k['Raj']=b
k['Raj']=c
k['Harry']=d
print(k)   #hence keys should be unique in dictionary

Enter Shubham1
Enter Raj2
Enter Raj1
Enter Harry2
{'Shubham': '1', 'Raj': '1', 'Harry': '2'}

In [80]:
#can we update values in this set
S={1,2,"Harry",[3,5]}   #will sbow error as list or dict cannot be inside an set
#and even if it was a tuple then tuple is not mutable

TypeError: unhashable type: 'list'

In [79]:
print("COnditional Expressions")

COnditional Expressions

In [82]:
a=4
if(a>3):
    print("yes")
elif(a>2):
    print("no")
else:
    print("Cannot predict")  
#as 1st statement is true so it will not check other two statements

yes

In [83]:
 a=4
if(a>3):
    print("yes")
if(a>2):
    print("no")
else:
    print("Cannot predict")

yes
no

In [84]:
age=34
if(age>30 and age<56):
    print("true")
else:
    print("false")

true

In [90]:
 # in and is function
a= None
if(a is None):
        print("Yes")
else:
        print("No")
    
k=[3,45,6]
print(9 in k) #as 9 is not in list so false

Yes
False

In [91]:
#program to get biggest no
a=input()
b=input()
c=input()
d=input()
if(a>b):
    k=a
else:
    k=b
if(c>d):
    m=c
else:
    m=d
if(k>m):
    print(k)
else:
    print(m)

1
3
2
6
6

In [92]:
# to check whether given username has less than 10 charaters
s="kijihduhfhf"
if(len(s)>10):
    print("Yes")
else:
    print("False")

Yes

In [93]:
#program to detect spams
text=input("Enter text")
spam=False
if("make a lot of money" in text):
    spam=True
elif("Buy now" in text):
    spam=True
else:
    spam=False
if(spam):
    print("spam")
else:
    print("False")

Enter textBuy now
spam

In [94]:
name=["Harry","Rahul","Raj","Hey"]
k=input("Name: ")
if(k in name):
    print("Yes")
else:
    print("No")

Name: Raj
Yes

In [95]:
print('Loops in python')

Loops in python

In [96]:
i=0
while i<10:
    print("Yes"+str(i))
    i=i+1
print("Done")

Yes0
Yes1
Yes2
Yes3
Yes4
Yes5
Yes6
Yes7
Yes8
Yes9
Done

In [97]:
fruits=["Banana","mangoes","grapes"]
i=0
while i<len(fruits):
    print(fruits[i])
    i=i+1

Banana
mangoes
grapes

In [101]:
for i in range(0,7,2): # 2 at ends specifies to skip the 2nd output every time
    print(i)

0
2
4
6

In [106]:
for i in range(10):
    if i == 5:
      continue  #for 5 it skips the print and continues
    print(i)

0
1
2
3
4
6
7
8
9

In [109]:
  #multiplication table of input number
a=int(input())
for i in range(1,11):
    k=a*i
    print(k)

5
5
10
15
20
25
30
35
40
45
50

In [ ]:
k=["Rahul","Raj","Singh"]
for name in k:
    if name.startswith("R"):
        print("Hello" + name)

In [ ]:
a=int(input())
for i in rangle(2,a//2+1):
     c=0
    if(a%i!=0):
        c++
        break
if(c==0 and a!=1):
    print("Yes")
else:
    print("No")